{% extends "base.html" %}

{% block content %}

    <h1>Add a Blog Entry!</h1>
    <form action="/newpost" method='POST'>
        <p>
        <label>
            Title for your new blog:
            <input type="text" name='blog_title' value="{{blogtitle}}" />
        </label>
        </p>

        <p style=color:red>
        {{blank_title_error}}
        </p>

        <p>
        <label>
            Your new blog:
            <textarea name="blog_entry" value="{{blogbody}}"></textarea>
        </label>
        </p>

        <p style=color:red>
        {{blank_body_error}}
        </p>
        
        <input type="submit" value='Add Entry' />
    </form>

    <hr />


{% endblock %}