{% extends "base.html" %}

{% block content %}

    <h1>Sign up!</h1>

    <form action="/signup" method='POST'>
        <p><label>
            Username: <input type="text" name='username' />
        </label></p>
        
        <p><label>
            password: <input type="password" name='password' />
        </label></p>
        
        <p>
            verify password: <input type="password" name='verify' /> <span style=color:red;>{{error_no_match}}</span>
        </p>

        <input type="submit" value='Submit' />
    </form>

{% endblock %}